body {
  font: normal 400 16px Arial, Helvetica, sans-serif;
  background-color: #CEE1F2;
}
/* .container {
  margin: 60px auto;
  background: #fff;
  padding: 0;
  border-radius: 7px;
} */
label,
p,
div {
  color: #0D0D0D;
}
.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.settings-tray {
  
  padding: 10px 34px;
  border-radius: 7px;
}



i {
  margin-top: 10px;
  font-size: 25px;
  color: #2d3940;
}

i:hover {
  color: #0d0d0d;
  cursor: pointer;
}

/* Side Panel  */

#side-panel {

  background-color: #4C6173
}


.driver-drawer {
  padding: 10px 34px;
  display: flex;
  vertical-align: baseline;
  /* background: #cee1f2; */
  transition: 0.3s ease;
}

.friend-drawer {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  background: #cee1f2;
  transition: 0.3s ease;
}

.trip-text {
  margin-left: 15%;
  width: 70%;
}

#h5-trip-text {
  margin-top:15px

  
}

#h5-trip-text:hover {
  background: #0d0d0d;
  cursor: pointer;
  color: #fff;
}

.driver-drawer hr {
  margin: 1px auto;
  width: 60%;
}

h6 {
  margin-top: 12px;
  margin-bottom: 0;
}

.main-trip-text {
  margin-left: 3%;
}

/* Main Chat Screen */

#Chatform {

  
  overflow: auto;
  align-items: center;
  justify-content: center;
  scroll-behavior: auto;
  background: #8AA6BF;
}

.chat-bubble-left {
  padding: 10px 14px;
  background: #eee;
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
  animation: fadeIn 1s ease-in;
}
.chat-bubble-right {
  padding: 10px 14px;
  background: #a1c6dd;
  color: rgb(63, 60, 60);
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
  animation: fadeIn 1s ease-in;
}

.chat-box-tray {
  
  display: flex;
  align-items: baseline;
  padding: 10px 15px;
  align-items: center;
  margin-top: 19px;
  bottom: 0;
  vertical-align: middle;
}

.chat-box-tray input {
  margin: 0 10px;
  padding: 6px 2px;
  width: 50%;
  border-radius: 15px;
  float: left;
}

.chat-box-tray i {
  color: grey;
  font-size: 30px;
  vertical-align: middle;
}

#addressForm {
  margin: 20px;
  padding: 20px;
  width: 80%;
  max-height: 80%;
}

p {
  text-align: right;
}
