body {
  font: normal 400 16px Arial, Helvetica, sans-serif;
  background-color: #2D3940;
}
.container {

  margin: 60px auto;
  background: #fff;
  padding:0;
  border-radius: 7px;
}

.profile-image{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.settings-tray{
  background-color: #8AA6BF;
  padding: 10px 15px;
  border-radius: 7px;

}
div.list-messages {
  width: 600px;
  margin: 20px auto 0;
  background: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;

  ul {
    margin: 0;
    padding: 20px;
    list-style: none;

    li {
      width: 560px;
      display: inline-block;
      margin-top: 20px;
      box-sizing: border-box;

      &:first-child {
        margin-top: 0;
      }

      p {
        float: left;
        margin: 0;
        padding: 0;
        word-wrap: break-word;

        &.name {
          width: 110px;
          vertical-align: top;
          font-weight: 700;
        }

        &.text {
          width: 440px;
          margin-left: 10px;
        }
      }
    }
  }
}

i {
  margin-top: 10px;
  font-size: 25px;
  color:#2D3940;
}

i:hover {
  color: #0D0D0D;
  cursor: pointer;
}


.friend-drawer {
padding: 10px 15px;
display: flex;
vertical-align: baseline;
background: #CEE1F2;
transition: .3s ease;
}

.trip-text {
  margin-left: 25%;
  width: 70%;
}  

.h5-trip-text {
    margin-top: 18px;
    margin-bottom: 0;
}
  
.friend-drawer:hover {
  background: #0D0D0D;
  cursor: pointer;
  color:#fff;
}

.friend-drawer hr {
  margin:1px auto;
  width: 60%;
}

h6 {
  margin-top: 12px;
  margin-bottom: 0;
}

.main-trip-text{
  margin-left: 3%;
}

.chat-bubble-left {

  padding: 10px 14px;
  background: #eee;
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
  animation: fadeIn 1s ease-in;
}
.chat-bubble-right{
  
  padding: 10px 14px;
  background: #2D383F;
  color: #fff;
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
  animation: fadeIn 1s ease-in;
}


div.new-message {
  width: 600px;
  height: 80px;
  margin: 20px auto 0;
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;

  input {
    width: 110px;
    height: 20px;
    float: left;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    &:focus {
      border-color: rgba(72, 163, 232, 0.3);
      box-shadow: 0 0 8px rgba(72, 163, 232, 0.4);
      outline: 0;
    }

    &[name="text"] {
      width: 390px;
      margin-left: 10px;
    }
  }
}
